@charset "UTF-8";
@media screen and (min-width: 1000px) {
  .fonction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row !important;
  }
  .fonction__box {
    margin-right: 10px;
    margin-left: 20px;
  }
  .fonction h2 {
    padding-left: 10px;
    margin-top: 40px;
  }

  .restaurants {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .restaurants__title {
    padding-bottom: 20px;
  }

  .restaurants-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 0px 30px;
  }
  .restaurants-container__box {
    /* width: 420px; */
    min-width: 1%;
  }
  .restaurants-container__box p {
    text-align: left;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
  }

  .footer li {
    padding-right: 40px;
  }
}
@media screen and (min-width: 900px) {
  .menu-principal {
    background-color: white;
  }
  .menu-principal_container {
    margin-top: -25px;
    border-radius: 20px;
  }

  .menu-principal_container {
    width: 98%;
    margin-top: -25px;
  }

  .menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    width: 25%;
  }
  .menu h4 {
    font-size: 16px;
  }
  .menu-block_under {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .fonction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .fonction__box {
    margin: 20px 10px 10px 10px;
    width: 400px;
  }
  .fonction h2 {
    margin-left: -50px;
  }
}
/*Délais de l'animation*/
/*Catégories (Entrée, Plat, Dessert)*/
/*Nombre d'éléments par catégories*/
/*Temps d'animation par colone*/
.menu {
  /*Pour chaque catégories*/
  /*Pour chaque catégories*/
  /*Pour chaque catégories*/
}
.menu:nth-child(1) .menu-block {
  /*Pour */
  /*Pour */
  /*Pour */
  /*Pour */
}
.menu:nth-child(1) .menu-block:nth-child(1) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.1s;
  /*Delais final est offset + J*/
}
.menu:nth-child(1) .menu-block:nth-child(2) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.2s;
  /*Delais final est offset + J*/
}
.menu:nth-child(1) .menu-block:nth-child(3) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.3s;
  /*Delais final est offset + J*/
}
.menu:nth-child(1) .menu-block:nth-child(4) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.4s;
  /*Delais final est offset + J*/
}
.menu:nth-child(2) .menu-block {
  /*Pour */
  /*Pour */
  /*Pour */
  /*Pour */
}
.menu:nth-child(2) .menu-block:nth-child(1) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.5s;
  /*Delais final est offset + J*/
}
.menu:nth-child(2) .menu-block:nth-child(2) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.6s;
  /*Delais final est offset + J*/
}
.menu:nth-child(2) .menu-block:nth-child(3) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.7s;
  /*Delais final est offset + J*/
}
.menu:nth-child(2) .menu-block:nth-child(4) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.8s;
  /*Delais final est offset + J*/
}
.menu:nth-child(3) .menu-block {
  /*Pour */
  /*Pour */
  /*Pour */
  /*Pour */
}
.menu:nth-child(3) .menu-block:nth-child(1) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 0.9s;
  /*Delais final est offset + J*/
}
.menu:nth-child(3) .menu-block:nth-child(2) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 1s;
  /*Delais final est offset + J*/
}
.menu:nth-child(3) .menu-block:nth-child(3) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 1.1s;
  /*Delais final est offset + J*/
}
.menu:nth-child(3) .menu-block:nth-child(4) {
  /*Child -1*/
  /*Child -1 multiplier par animation par colone.*/
  animation-delay: 1.2s;
  /*Delais final est offset + J*/
}

.loadingbg {
  background-color: white;
  animation: bg ease-in-out 3s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
}

.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 10px solid #f3f3f3;
  border-left-color: #9356DC;
  border-right-color: #FF79DA;
  border-radius: 200px;
  animation: spin 3s ease-in-out;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes bg {
  0% {
    visibility: visible;
  }
  100% {
    appearance: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  75% {
    transform: rotate(1040);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
.hearts {
  margin-right: 75px;
  margin-top: 25px;
}
.hearts_full {
  position: absolute;
  font-size: 30px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  clip-path: circle(0%);
}
.hearts_empty {
  position: absolute;
  font-size: 30px;
  color: rgba(24, 23, 23, 0.67);
}
.hearts:hover .hearts_full {
  animation: heart-appear 600ms ease-in-out;
  animation-fill-mode: forwards;
}
.hearts:hover .hearts_empty {
  animation: heart-disappear 600ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes heart-appear {
  0% {
    clip-path: circle(0%);
  }
  100% {
    visibility: visible;
    clip-path: circle(100%);
  }
}
@keyframes heart-disappear {
  0% {
    clip-path: 0%;
  }
  100% {
    visibility: visible;
    clip-path: circle(100%);
  }
}
.menu-block {
  animation: menu-appear 0.9s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.4, 1.41, 0.41, 0.9);
}
.menu-block:hover .menu-block_right {
  animation: appear 0.3s ease-out;
  animation-fill-mode: both;
}
.menu-block:hover .menu-block_right .fa-check-circle {
  animation: rotate 0.3s ease-in;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes moveleft {
  0% {
    transform: translateX(0);
    padding-left: 50px;
  }
  100% {
    transform: translateX(-50px);
    padding-left: 50px;
  }
}
@keyframes appear {
  0% {
    visibility: visible;
    margin-right: -60px;
  }
  100% {
    visibility: visible;
    margin-right: 0px;
  }
}
@keyframes menu-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(15px);
  }
}
.fonction {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.fonction h2 {
  text-align: left;
  padding-left: 10px;
}
.fonction__icon {
  margin: 10px;
}
.fonction__box {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f0efef;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 20px;
  height: 40px;
  border: rgba(235, 232, 232, 0) solid 1px;
  box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
  padding: 10px;
}
.fonction__box:hover {
  background-color: #9256dc46;
  transition: 0.4s;
}
.fonction__box:hover i {
  color: #9356DC;
}
.fonction__number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9356DC;
  color: white;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 200px;
}
.fonction p {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bolder;
}
.fonction p {
  padding-left: 10px;
  color: gray;
}

#restaurants {
  background-color: #ebe6e66b;
}

.restaurants__title {
  margin-left: 15px;
  padding-top: 15px;
  margin-top: 0px;
}

.restaurants-container {
  margin: 10px 0px 0px 0;
}
.restaurants-container__box {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
  border-radius: 15px;
  margin-bottom: 50px;
  height: 240px;
  margin-right: 20px;
  margin-left: 20px;
}
.restaurants-container__box:hover {
  box-shadow: 0px 0px 8px #9356DC;
  transform: scale(1);
}
.restaurants-container__start {
  display: flex;
  justify-content: flex-end;
}
.restaurants-container__start img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants-container__start span {
  position: absolute;
  color: rgba(0, 31, 0, 0.575);
  font-weight: bold;
  margin: 20px;
  font-size: 19px;
  padding: 4px;
  background-color: #99E2D0;
}
.restaurants-container__end {
  display: flex;
  justify-content: space-between;
}
.restaurants-container__desc {
  padding-right: 10px;
}
.restaurants-container__desc h3 {
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10px;
}
.restaurants-container__desc p {
  font-size: 18px;
  margin-top: -10px;
  padding-left: 10px;
}

.menu-principal {
  background-color: #faf4f4;
}
.menu-principal_img {
  width: 100%;
}
.menu-principal_img img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.menu-principal_container {
  position: relative;
  margin-top: -80px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: #faf4f4;
}
.menu-principal_title {
  display: flex;
  justify-content: space-between;
  font-family: shrikhand, "cursive";
  margin-left: 20px;
}

.menus {
  margin: 0px 15px 30px 15px;
  padding-bottom: 30px;
}

.menu h3 {
  border-bottom: #99E2D0 solid 5px;
  width: 50px;
  font-size: 25px;
  font-weight: 100;
}

.menu-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.452);
  overflow: hidden;
}
.menu-block_left {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
}
.menu-block_under {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -15px;
}
.menu-block h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
}
.menu-block_right {
  display: flex;
  margin-right: -60px;
}
.menu-block_price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  padding: 0px 10px 0px 20px;
}
.menu-block_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #99E2D0;
  color: white;
  height: 85px;
  width: 60px;
  border-radius: 0px 20px 20px 0px;
  font-size: 25px;
}

.footer {
  background-color: #353535;
  padding-bottom: 10px;
}
.footer_logo {
  width: 120px;
  color: white;
  padding-left: 40px;
  padding-top: 2px;
  font-size: 17px;
  font-family: shrikhand, "cursive";
}
.footer p {
  margin: 0px;
  padding-top: 16px;
}
.footer li {
  padding-bottom: 8px;
  width: fit-content;
  cursor: pointer;
  list-style: none;
}
.footer a, .footer a:visited, .footer a:link {
  color: white;
}
.footer:hover {
  text-decoration: underline;
}
.footer__icon {
  padding-right: 10px;
}

.header-index__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  border-bottom: solid 2px #b6b5b5;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.header-index__logo img {
  height: 35px;
}
.header-index__location {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #eaeaea;
  flex-direction: row;
  border-bottom: 1px;
}
.header-index__mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  flex-direction: column;
  background-color: #f6f6f6;
}
.header-index__mainbox p {
  font-size: 20px;
  margin-top: -10px;
}
.header-index__location input {
  border: none;
  background-color: inherit;
  height: 45px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  width: 130px;
}
.header-index ::placeholder {
  color: black;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.header-menu_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: solid 2px #b6b5b5;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
}
.header-menu_logo img {
  height: 40px;
}
.header-menu_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5%;
  height: 100px;
  font-size: 18px;
  background-color: #f6f6f6;
  border-bottom: solid 2px #b6b5b5;
  padding-left: 14px;
  padding-right: 14px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.btn-container_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border-radius: 200px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 15px;
  box-shadow: 0px 7px 10px #c9c7c7;
  background-color: #faf4F4;
}
.btn-container_principal a:link, .btn-container_principal a:visited {
  color: white;
}
.btn-container_principal:hover {
  transform: scale(0.9);
  transition: 0.5s;
  opacity: 0.9;
  box-shadow: 0px 7px 10px #969696;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: roboto;
}
body a, body a:link, body a:visited {
  text-decoration: none;
  color: black;
}
body ul {
  list-style: none;
  width: fit-content;
}

/*# sourceMappingURL=style.css.map */
