@media screen and (min-width: 1000px) {

    .fonction {
/*         @include center; 
        flex-direction: row; */
        display: flex;
        flex-direction: row;

        &__box {
            margin-right: 10px;
            margin-left: 20px;
        }

        & h2 {

            padding-left: 10px;
            margin-top: 40px;
        }
    }

    .restaurants {

        @include center;
        flex-direction: column;
        margin-top: 20px;

        &__title {
            padding-bottom: 20px;
        }
    }

    .restaurants-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        padding : 0px 30px;

        &__box {
            /* width: 420px; */
            min-width: 1%;

            p {
                text-align: left;
            }
        }
    }

    .footer ul {
        display: flex;
        flex-direction: row;
    }

    .footer li {
        padding-right: 40px;
    }
}

@media screen and (min-width: 900px) {
    .menu-principal {
        background-color: white;

        &_container {
            margin-top: -25px;
            border-radius: 20px;
        }
    }

    .menu-principal_container {
        width: 98%; 
        margin-top: -25px;
    }

    .menus {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        width: 25%;

        & h4 {
            font-size: 16px;
        }

        &-block_under {

            font-size: 14px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

    .fonction {
        @include center;
        flex-direction: column;

        &__box {
            margin: 20px 10px 10px 10px;
            width: 400px;
        }

        & h2 {
            margin-left: -50px;
        }
    }
}